@model testOpenLayer.Models.ItuViewModelBase

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@Model.Title</title>
    <link href="~/Content/Styles/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Styles/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Styles/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/Scripts/bootstrap.min.js"></script>
    <script src="//wurfl.io/wurfl.js"></script>

    @RenderSection("CustomCss", required: false)
    @RenderSection("CustomScriptsTop", required: false)
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    @if (Model.Settings.DevModeOn)
    {
        @Html.Partial("pv_UxDebug")
    }
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink(Model.Settings.ApplicationName,
                "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav"></ul>
        </div>
    </div>
</div>

<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <h4>@Model.Settings.ApplicationName</h4>
        <p>@Model.CopyrightNotes</p>
    </footer>
</div>

@RenderSection("CustomScriptsBottom", required: false)
</body>
</html>